body{
    background-color: white;
}

h1{
    width: 100%;
    text-align: center;
}

.image-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 20px;
}

.image-row .group {
    width: 23%; /* to fit the four images with spaces between them */
    height: auto;
    border: 2px solid #ddd; 
    padding: 5px;
    border-radius: 10px;

}

.image-row .group img {
    width: 100%; 
    height: auto;
}

.image-row .group h4 {
    width: 100%;
    text-align: center;
}

.image-row .group p {
    width: 100%;
    text-align: center;
}

.image-row .group button{
    border: none; 
    width: 35%;
    margin-left: 115px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 16px; 
    cursor: pointer; 

}







